@import "./Mixins.scss";

.back-btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 4.5em;
    width: 12em;
    margin-left: 5em;
    margin-top: 2em;
    border-radius: 3em;
    font-size: var(--p-options-size);
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .18em;
    color: rgba(#000, 0.5);
    @include skmpsm-style;

    &:hover {
        color: rgba(#000, 1);
    }


    &-icon {
        height: auto;
        width: 1em;
        max-width: 2em;
        margin-right: .6em;
        opacity: .5;
    }
    
    &:hover &-icon {
        opacity: 1;
    }

    &-bg {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 10em;
        width: 100%;
        background-color: var(--background);
        z-index: 3;
    }

    &-bg.hide {
        background-color: transparent;
    }
}

