.go-back {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: var(--icon-size);
    font-weight: 700;
    text-decoration: none;
    letter-spacing: .18em;
    color: var(--text-primary);
}

.go-back-icon {
    height: auto;
    width: 100%;
    max-width: 2em;
    margin-right: .6em;
}

.go-back-header {
    margin-top: 50px;
    margin-left: 60px;
    grid-column: 1 / 4;
    height: 3.2em;
}