.navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 0 1em;
    z-index: 2;
}

.logo {
    grid-column: 2 / 3;
    margin-top: .8em;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
    color: var(--text-primary);
    font-size: 35px;
    font-weight: 700;
}

.logo-dot {
    display: inline-block;
    background-image: var(--gradient-blue);
    border-radius: 50%;
    height: 1vh;
    width: 1vh;
    margin-top: 0.5em;
}

.navbar-i-group {
    position: relative;
    margin-top: 3.6em;
    grid-column: 5 / 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}

.navbar-i {
    color: black;
    text-decoration: none;
    font-size: var(--p-options-size);
    font-weight: 700;
    margin-bottom: 2em;
    margin-right: 1em;
    padding-bottom: .75em;
    z-index: 1;
    position: relative;
}

.home-1::before {
    content: "";
    position: absolute;
    left: calc(50% - 4vw);
    height: 100%;
    width: 8vw;
    border-bottom: 3px solid var(--accent-blue);
}

.projects-2::before {
    content: "";
    position: absolute;
    left: calc(50% - 4vw);
    height: 100%;
    width: 8vw;
    border-bottom: 3px solid var(--accent-orange);
}

.contact-3::before {
    content: "";
    position: absolute;
    left: calc(50% - 4vw);
    height: 100%;
    width: 8vw;
    border-bottom: 3px solid var(--accent-yellow);
}

.lang {
    grid-column: 11 / 15;
    position: relative;
}

.lang-btn {
    position: absolute;
    top: 55px;
    right: 80px;
    width: 5em;
    height: 2.5em;
    border-radius: 3em;
    border: none;
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: 700;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 2;
}

.lang-link-show {
    position: absolute;
    top: 80px;
    right: 81.5px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: .1em 1.3em;
    border-radius: 0 0 1em 1em;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 1;
}

.lang-link-show span {
    display: inline-block;
    margin-top: 1em;
}

.lang-link-hide {
    display: none;
}