.home-img {
    grid-column: 1 / 7;
    grid-row: 2;
    margin-right: 70px;
    display: inline-block;
    position: relative;
}

.profile-pic {
    position: absolute;
    bottom: 0;
    max-height: auto;
    width: 100%;
    max-width: 420px;
    min-width: 270px;
    z-index: 2;
}