.indicator {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    bottom: 30px;
    left: 41%;
    position: absolute;
    z-index: 2;
    font-size: var(--p-options-size);
    font-weight: 600;
    letter-spacing: 1px;

    & span {
        margin-left: 18px;
        margin-top: -4px;
    }
}
.i-container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.i-unselected {
    margin-bottom: .5em;
    height: .45em;
    width: .45em;
    background-color: #DDDDDD;
    border-radius: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}

.i-selected {
    position: absolute;
    height: .9em;
    width: .9em;
    background-color: black;
    border-radius: 50px;
    transition: .2s;
}

.scroll-1_UP {
    top: -8%;
}

.scroll-2_UP {
    top: 28%;
}

.scroll-2_DOWN {
    top: 28%;
}

.scroll-3_DOWN {
    top: 60%;
}

//Desktop

@media screen and (min-width: 1400px) and (min-height: 900px) and (orientation: landscape) {
    .indicator {
        bottom: 50px;
    }
}

//Tablet Portrait

@media (max-width: 1024px) and (min-height: 1000px) and (orientation: portrait) {
    .indicator {
        bottom: 60px;
    }
}

@media screen and (max-width: 910px) and (orientation: portrait) {
    .indicator {
        left: 37%;
    }
}

@media screen and (max-width: 910px) and (min-width: 769px) and (min-height: 1200px) and (orientation: portrait) {
    .indicator {
        bottom: 50px;
    }
}

//Mobile Portrait

@media screen and (max-width: 570px) {
    .indicator {
        left: 33%;
        bottom: 40px;
    }
}

@media screen and (max-width: 570px) and (min-width: 481px) and (min-height: 950px) and (orientation: portrait) {
    .indicator {
        bottom: 50px;
    }
}

@media screen and (max-width: 420px) and (orientation: portrait) {
    .indicator {
        bottom: 40px;
    }
}

@media screen and (max-width: 380px) and (orientation: portrait) {
    .indicator {
        bottom: 30px;
    }
}

@media screen and (max-width: 340px) and (orientation: portrait) {
    .indicator {
        bottom: 20px;
    }
}

@media screen and (max-width: 340px) and (min-height: 540px) and (orientation: portrait) {
    .indicator {
        bottom: 30px;
    }
}

//Mobile Landscape 

@media screen and (max-width: 480px) and (orientation: landscape) {
    .indicator {
        left: 70%;
        bottom: 14px;
    }
}