.preview {
    clip-path: inset(0 0 0 0);
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.preview-img-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 120% 250px, 100% 300px, cover;
    background-position: center -90px, center bottom, center top;
    z-index: 0;
}


.preview-top {
    margin-top: -180px;
    height: 400px;
}

.preview-info {
    position: absolute;
    bottom: 60px;
    left: 22%;
    z-index: 2;

    & > h1 {
        margin: 4vh 0 20px;
        text-transform: uppercase;
    }

    & > span {
        color: var(--text-secundary);
        letter-spacing: 2px;
    }
}
