.media {
    display: inline-block;
    position: relative;
    height: 64px;
    width: 64px;
    margin-left: 30px;
    background-color: #F7F7FA;
    background-size: cover;
    border: 1px solid #F2F2F2;
    box-shadow: inset 3px 2px 6px rgba(0,0,0,.1), inset -2px -3px 6px rgba(255,255,255,1);
    border-radius: 25px;

    &:first-child {
        margin: 0;
    }

    & img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: .35;
        transition: ease-in-out .3s;
    }

    & img:hover {
        opacity: .8;
    }
}

//Small Desktop and Landscape tablet

@media screen and (max-width: 960px) {
    .media {
        height: 48px;
        width: 48px;
        border-radius: 18px;
        margin-left: 16px;
    }
}

//Portrait tablet

@media screen and (max-width: 910px) and (min-height: 768px) and (orientation: portrait) {
    .media {
        height: 70px;
        width: 70px;
        border-radius: 30px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 910px) and (min-height: 1000px) {
    .media {
        height: 90px;
        width: 90px;
        border-radius: 38px;
        margin-left: 36px;
    }
}

//Portrait Phone

@media screen and (max-width: 570px) and (min-height: 641px) {
    .media {
        height: 60px;
        width: 60px;
        border-radius: 25px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 570px) and (min-height: 850px) {
    .media {
        height: 70px;
        width: 70px;
        border-radius: 30px;
        margin-left: 24px;
    }
}

@media screen and (max-height: 570px) and (orientation: landscape) {
    
}