.project-page {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: var(--background);
}

.project-description {
    grid-column: 4 / 12;
    margin-bottom: 100px;
    color: var(--text-secundary)
}

.project-title {
    display: inline-block;
    margin:100px 0 40px;
    grid-column: 4 / 12;
    color: var(--text-primary);
    text-transform: uppercase;
}

.project-subtitle {
    display: inline-block;
    margin:50px 0 40px;
    grid-column: 4 / 12;
    color: var(--text-primary);
    text-transform: uppercase;

}

.project-img {
    max-width: 100%;
    grid-column: 2 / 14;
    margin-bottom: 120px;
}

.project-problem {
    background-size: 100% 100px, 100% calc(100% - 200px), 100% 100px;
    background-repeat: no-repeat;
    background-position: center top, center center, center bottom;
}

.project-problem > * {
    color: white;
}

.project-problem span > * {
    color: white;
}

.project-title:first-child {
    margin-top: 150px;
}

.project-description:last-child {
    margin-bottom: 150px;
}
