body {
    margin: 0;
    overflow: auto;
}

h1 {
    font-size: var(--title-size);
}

.page {
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding: 0;
}

.page::-webkit-scrollbar {
    display: none;
  }

.container {
    scroll-snap-align: start;
    margin: 0;
    padding: 0;
    padding-top: 8em;
    height: calc(100vh - 8em);
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 61.33vh;
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 0 1em;
    background-color: var(--background);
}

.home-img {
    grid-column: 1 / 6;
    grid-row: 2;
    margin-right: 50px;
    display: inline-block;
    position: relative;
}

.profile-pic {
    position: absolute;
    bottom: 0;
    max-height: auto;
    width: 100%;
    max-width: 410px;
    min-width: 290px;
    z-index: 2;
}

.projects-pic {
    position: absolute;
    bottom: 25%;
    max-height: auto;
    width: 100%;
    max-width: 410px;
    min-width: 290px;
    z-index: 2;
}

.info {
    margin-left: 30px;
    grid-column: 6 / 12;
    grid-row: 2;
    position: relative;
}

.info .hello {
    position: absolute;
    top: -2.5em;
    font-size: 40px;
}

.info .title {
    position: absolute;
    top: -1.3em;
}

.info span {
    position: absolute;
    top: 2.5em;
    color: var(--text-secundary);
    max-width: 400px;
}

.info-btn {
    position: absolute;
    top: 8.5em;
    color: white;
    font-size: var(--p-options-size);
    text-decoration: none;
    margin-top: 25px;
    padding: .6em 1.4em;
    border-radius: 50px;
}

.profile-btn {
    background-image: var(--gradient-blue);
}

.project-btn {
    top: 7.5em;
    background-image: var(--gradient-orange);
}

h3 {
    margin: 0;
    padding-left: 50px;
}

.scroll {
    position: fixed;
    bottom: 30px;
    left: calc(50vw - 5em);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
    font-size: var(--icon-size);
    font-weight: 700;
}
