.details {
    grid-column: 6 / 12;
    grid-row: 2;
    overflow-y: scroll;
    margin-top: -34vh;
    margin-left: 40px;
    margin-bottom: 10vh;
    scrollbar-width: none;
}

.details h1 {
    font-size: calc(var(--title-size) * .9);
}

.nav-btn {
    margin-top: 140px;
    height: auto;
    width: 100%;
    max-width: 24em;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1em;
}

.scroll-bg-container {
    height: 150px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, .8),rgba(255, 255, 255, .9), rgba(255, 255, 255, 1));
}